
.hero{
    // min-height: 100vh;
    padding: 40px;
    margin: 0 !important;
    height: calc(100vh - 80px);

    @media (max-width:992px) {
        padding: 20px;
        height: calc(60vh - 130px)
    }

    @media (max-width:600px) {
        padding-top: 70px;
        height: calc(60vh - 90px)
    }

    .heroIM {
        background: url("/images/fon.png");
        background-size: cover;
        height: calc(100vh - 90px);
        border-radius: 19px;
        display: flex;
        position: relative; /* Добавляем для позиционирования overlay */
        
        /* Убираем opacity с самого элемента, если нужно затемнить только фон */
        /* opacity: 0.7; */

        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.35); /* Затемнение 70% */
            border-radius: 19px;
            z-index: 1;
        }

        @media (max-width:992px) {
            height: calc(60vh - 90px)
        }
    }
    
    .heroContent{
        position: relative;
        z-index: 2;
        color: white;
        max-width: 1500px;
        margin: auto auto;

        @media (max-width:992px) {
            height: fit-content
        }

        @media (max-width:1530px) {
            padding: 0 2.5%; 
        }

        h1{
            color: #FFFFFF;
            text-transform: uppercase;
        }

        p{
            margin: 40px 0;
            text-transform: uppercase;
            // font-size: 40px;
            letter-spacing: -0.05em;

            @media (max-width: 992px){
                margin: 20px 0;
            }
        }

        .CTAbutton {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            gap: 16px;
            padding: 16px 24px;
            background-color: #FFFFFF;
            border: none;
            border-radius: 50px;
            font-family: var(--font-montserrat), sans-serif;
            font-weight: 500;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            transition: all 0.4s ease 0.01s;
            height: 80px;

            .text {
                transition: transform 0.4s ease;
                z-index: 2;
                margin-left: 80px;
                color: var(--second-background);
            }

            .circle {
                overflow: visible !important;
                border: 1px solid var(--third-background);
                position: absolute;
                left: 0px;
                top: 50%;
                transform: translateY(-50%);
                aspect-ratio: 1 / 1;
                height: 100%;
                background-color: var(--third-background);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: left 0.4s ease;
                z-index: 3;

                .arrow {
                    width: 40px;
                    height: 40px;
                    transform: rotate(-90deg);
                    transition: transform 0.4s ease;
                    fill: #FFFFFF
                }
            }

            

            &:hover {
                // pointer-events: none;
                transition: all 0.4s ease 0s;
                padding: 16px 24px;
                background-color: var(--third-background);
                
                .text {
                    transform: translateX(-80px);
                    color: #FFFFFF;
                }
                
                .circle {
                    border: 1px solid #FFFFFF;
                    left: calc(100% - 80px);
                    background-color: #FFFFFF;
                
                    .arrow {
                        transform: rotate(0deg);
                        fill: var(--third-background)
                    }
                }
            }

            @media (max-width:992px) {
                height: 50px;
                .text {
                    margin-left: 50px;
                }
                .arrow {
                    width: 25px !important;
                    height: 25px !important;
                }
                &:hover {
                    .text {
                        transform: translateX(-50px);
                    }
                    .circle {
                        left: calc(100% - 50px);
                    }
                }
            }
        }
    }
}